<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1,jobDetail
        两种： MethodInvokingJobDetailFactoryBean
               JobDetailFactoryBean
     -->
        <bean id="myQuartzJob" class="com.itqf.job.MyQuartzJob"></bean>
        <bean id="myJobDetail1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <property name="name" value="myJob1"></property>
            <property name="group" value="myGroup1"></property>
            <property name="targetObject" ref="myQuartzJob"></property>
            <property name="targetMethod" value="execute"></property>
        </bean>

        <bean id="myJobDetail2" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
            <property name="name" value="myJob2"></property>
            <property name="group" value="myGroup2"></property>
            <property name="durability" value="true"></property>
            <property name="jobClass" value="com.itqf.job.MyJob"></property>
        </bean>

    <bean id="myJobDetail3" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="myJob3"></property>
        <property name="group" value="myGroup3"></property>
        <property name="durability" value="true"></property>
        <property name="jobClass" value="com.itqf.job.MyJob3"></property>
    </bean>
    <!--2 trigger-->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="name" value="myTrigger1"></property>
        <property name="group" value="myGroup1"></property>
        <property name="repeatCount" value="1000"></property>
        <property name="repeatInterval" value="3000"></property>
        <property name="jobDetail" ref="myJobDetail1"></property>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="myTrigger2"></property>
        <property name="group" value="myGroup2"></property>
        <property name="jobDetail" ref="myJobDetail2"></property>
        <property name="cronExpression" value="* * * * * ?"></property>
        <property name="startDelay" value="1000"></property>
    </bean>

    <bean id="cronTrigger1" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="myTrigger3"></property>
        <property name="group" value="myGroup3"></property>
        <property name="jobDetail" ref="myJobDetail3"></property>
        <property name="cronExpression" value="* * * * * ?"></property>
        <property name="startDelay" value="1000"></property>
    </bean>

    <!--3, scheduler-->

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <array>
                <ref bean="simpleTrigger"></ref>
                <ref  bean="cronTrigger"></ref>
                <ref bean="cronTrigger1"></ref>
            </array>
        </property>
    </bean>

</beans>        